

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handle Bars</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h3>So this should be a var: {{chenz_hbs}}</h3>
        </div>
    </div>

    <div class="container">
        <ul class="list-group">
            {{#each people}}
            <li class="list-group-item">{{this.firstName}} <span class="label label-success">{{this.lastName}}</span></li>
            {{/each}}
        </ul>
    </div>



</body>
</html>


