

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handle Bars</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h3>So this should be a var: {{chenz_hbs}}</h3>
        </div>
    </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/imgs/c64.jpg" alt="commodore 64">
          <div class="caption">
            <h3>Commodore 64</h3>
            <p>By 1988, Commodore was still selling between one and one and a half million C64s worldwide every year...</p>
          </div>
        </div>
      </div>
    </div>
    </div>



</body>
</html>


